In [3]:
import pandas as pd
import json
import glob

In [4]:
df1 = pd.read_csv('BlackPanther_1_aahmad1.csv')
df2 = pd.read_csv('BlackPanther_2_yucongw.csv')

In [6]:
def process (df):
    #change data type
    for i in range(len(df)):
        val = df['maneuver'][i]
        if val == 'NONE':
            df['maneuver'][i] = '—'
        elif (type(val) == str and 'choices' in val):
            val = json.loads(val)
            listToStr = ', '.join(val['choices'])
            df['maneuver'][i] = listToStr

    #change title
    annotator = 'annotator_'+ df['annotator'][0].astype(str)
    df_1 = df[['Node ID','MESSAGE','maneuver']]
    df_1 = df_1.rename(columns={'maneuver':annotator})
    return(df_1)

In [7]:
#initialize 
df0 = pd.read_csv('BlackPanther_1_aahmad1.csv')
df0 = process(df0)

<ipython-input-6-52272ba2bcec>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['maneuver'][i] = '—'

In [8]:

glued_data = pd.DataFrame()
for file_name in glob.glob('/Users/cmu-work/Data/BEND/'+'*.csv'):
    df = pd.read_csv(file_name)
    df_p = process(df)
    df0 = pd.merge(df0,df_p, left_on='Node ID', right_on='Node ID', how='outer')

<ipython-input-6-52272ba2bcec>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['maneuver'][i] = listToStr
<ipython-input-6-52272ba2bcec>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['maneuver'][i] = '—'

In [9]:
df0

,Node ID,MESSAGE_x,annotator_8_x,MESSAGE_y,annotator_4_x,MESSAGE_x,annotator_7_x,MESSAGE_y,annotator_10_x,MESSAGE_x,...,MESSAGE_x,annotator_3,MESSAGE_y,annotator_8_y,MESSAGE_x,annotator_8,MESSAGE_y,annotator_4_y,MESSAGE,annotator_7_y
0,9.263172e+17,LILLARD ⌚️ #SCtop10 https://t.co/hv0gJsVkBd,—,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,9.345143e+17,YOU DUMB FUCK,—,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,9.406123e+17,Cavs Legion has arrived. Cleveland at the cent...,—,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,9.098753e+17,@CypherTheGod @XXL ?,—,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,9.243588e+17,RT @OhioStateFB: #BeatPSU https://t.co/dgsUvd7ohw,—,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3902,1.289988e+18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,#France https://t.co/ypCFgwcqos,—
3903,1.290300e+18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,France remains the world's most reliant countr...,Explain
3904,1.290318e+18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Happy Monday Everyone !!! Hidden Love (Thai La...,—
3905,1.290341e+18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RT @Sebastien_Nadot: I can speak for #Europe :...,"Enhance, Bridge, Neutralize"
3906,1.290374e+18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RT @CraigCons: Prophet Muhammad was known as A...,"Enhance, Back"

In [67]:
df1_1 = process(df1)
df2_1 = process(df2)

In [80]:
df3=pd.merge(df1_1,df1_1, left_on='Node ID', right_on='Node ID', how='outer')

In [11]:
df0.to_csv('merged.csv')

In [81]:
df3

               Node ID annotator_8_x annotator_8_y
0   926317187857633280             —             —
1   934514312789549056             —             —
2   940612284858142722             —             —
3   909875287202054144             —             —
4   924358760398835712             —             —
..                 ...           ...           ...
95  968329463950962688             —             —
96  915973684183134209             —             —
97  910169736897531904             —             —
98  948982598927253504        Engage        Engage
99  914864085442940928       Explain       Explain

[100 rows x 3 columns]

In [69]:
df

Empty DataFrame
Columns: [Node ID, annotator_8, annotator_5]
Index: []

In [ ]:
df.set_index('key').join(other.set_index('key'))

In [65]:
df2_1 = process(df2)

In [66]:
df2_1

               Node ID                annotator_5
0   961103548166615040     Distort, Dismay, Boost
1   931597727397548037            Excite, Enhance
2   911644603996164096                     Excite
3   951999059220365312                      Boost
4   932826632565424128                    Enhance
..                 ...                        ...
95  921851691149996034     Explain, Enhance, Back
96  938544157156675584  Dismay, Distract, Neglect
97  973093663755722753      Enhance, Build, Boost
98  939573901427924993                          —
99  938278693641834496            Distort, Dismay

[100 rows x 2 columns]

In [59]:
df2

,Node ID,MESSAGE,Sender,id,maneuver,annotator,annotation_id,created_at,updated_at,lead_time
0,961103548166615040,A 20 POINT LEAD TO THE MAGIC. ARE YOU FUCKING ...,17sbaucum,214,"Distort, Dismay, Boost",5,1549,2022-07-10T03:49:08.205831Z,2022-07-10T03:49:08.205871Z,7.529
1,931597727397548037,This ref is at least 99% electric eel 1% human...,barstoolsports,213,"Excite, Enhance",5,1548,2022-07-10T03:48:59.751344Z,2022-07-10T03:48:59.751401Z,6.136
2,911644603996164096,Dwyane haskins is that guy,17sbaucum,212,Excite,5,1547,2022-07-10T03:48:52.735040Z,2022-07-10T03:48:52.735096Z,5.320
3,951999059220365312,@2Girls_1Warren Thoughts on what just happened...,17sbaucum,211,Boost,5,1546,2022-07-10T03:48:46.244661Z,2022-07-10T03:48:46.244703Z,8.440
4,932826632565424128,RT @SportsCenter: The Celtics needed all 47 to...,17sbaucum,210,Enhance,5,1545,2022-07-10T03:48:36.936193Z,2022-07-10T03:48:36.936242Z,116.786
...,...,...,...,...,...,...,...,...,...,...
95,921851691149996034,RT @DomClare: The Minnesota Vikings have the #...,17sbaucum,119,"Explain, Enhance, Back",5,1330,2022-07-08T20:13:28.220599Z,2022-07-08T20:13:28.220623Z,79.081
96,938544157156675584,Steelers' safety Mike Mitchell had a lot to sa...,BleacherReport,118,"Dismay, Distract, Neglect",5,1329,2022-07-08T20:12:08.016624Z,2022-07-08T20:12:08.016648Z,30.538
97,973093663755722753,RT @OhioStateHoops: Special night in @TheSchot...,17sbaucum,117,"Enhance, Build, Boost",5,1328,2022-07-08T20:11:36.656202Z,2022-07-08T20:11:36.656227Z,21.428
98,939573901427924993,@Wiz_K1LLa Who costed,17sbaucum,116,—,5,1327,2022-07-08T20:11:14.470502Z,2022-07-08T20:11:14.470525Z,4.497
99,938278693641834496,"One day after a 47-point loss, Bradley Beal we...",SportsCenter,115,"Distort, Dismay",5,1326,2022-07-08T20:11:09.240561Z,2022-07-08T20:11:09.240584Z,41.919

In [55]:

# extract
df2_1 = df2[['Node ID','maneuver']]

#clean the result 


# rename
annotator = 'annotator_'+ df2['annotator'][0].astype(str)
df2_1 = df2_1.rename(columns={'maneuver':annotator})

In [31]:
val = json.loads(df2_1['annotator_5'][0])
listToStr = ', '.join(val['choices'])
listToStr

'Distort, Dismay, Boost'

In [39]:
df1['maneuver'][0] = '—'

<ipython-input-39-7a26c74c2d2c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['maneuver'][0] = '-'

In [50]:
'choices' in df2['maneuver'][0]

True

In [41]:
val = json.loads(df1_1['annotator_8'][0])

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [44]:
val.str.contains('choices')

AttributeError: 'dict' object has no attribute 'str'

val

In [22]:
type(value)

dict

In [3]:
df1.head()

,Node ID,MESSAGE,Sender,id,maneuver,annotator,annotation_id,created_at,updated_at,lead_time
0,926317187857633280,LILLARD ⌚️ #SCtop10 https://t.co/hv0gJsVkBd,SportsCenter,114,NONE,8,5100,2022-09-24T16:06:06.747542Z,2022-09-24T16:06:06.747595Z,2.408
1,934514312789549056,YOU DUMB FUCK,17sbaucum,113,NONE,8,5099,2022-09-24T16:06:03.296483Z,2022-09-24T16:06:03.296542Z,2.745
2,940612284858142722,Cavs Legion has arrived. Cleveland at the cent...,CavsLegionGC,112,NONE,8,5098,2022-09-24T16:05:59.550471Z,2022-09-24T16:05:59.550496Z,4.297
3,909875287202054144,@CypherTheGod @XXL ?,17sbaucum,111,NONE,8,5097,2022-09-24T16:05:54.220828Z,2022-09-24T16:05:54.220881Z,3.072
4,924358760398835712,RT @OhioStateFB: #BeatPSU https://t.co/dgsUvd7ohw,17sbaucum,110,NONE,8,5096,2022-09-24T16:05:50.149778Z,2022-09-24T16:05:50.149837Z,3.155

In [ ]:
import glob
import pandas as pd

glued_data = pd.DataFrame()
for file_name in glob.glob('/Users/cmu-work/Data/BEND/'+'*.csv'):
    x = pd.read_csv(file_name, low_memory=False)
    glued_data = pd.concat([glued_data,x],axis=0)