# 1 - Preprocess
Take the combined Tweet and prouce two dataset those with excite and those with dismay

In [1]:
import pandas as pd
results = pd.read_csv('combined_codes.csv')

In [31]:
results['dismay'] = results['final_code'].str.contains('dismay').values.astype(int)
results['excite'] = results['final_code'].str.contains('excite').values.astype(int)

In [40]:
results[results['tweet_text'].str.contains('RT')]

,tweet_id,final_code,tweet_text,code_S2,code_B1,code_K2,code_B2,code_K1,code_S1,code_Y,dismay,excite
0,1192277900650852354,engage,RT @LindsayinAfrica: Concerning #JohnCrist: a ...,NaN,NaN,NaN,NaN,NaN,NaN,engage,0,0
1,1192277907671900160,explain,RT @xoxosira: The i-land 7epจบ \n\nเอาคนกลุ่มน...,NaN,NaN,NaN,NaN,NaN,NaN,explain,0,0
2,1192277921391501313,—,RT @realityreacts: Noura and Karishma at the m...,NaN,NaN,NaN,NaN,NaN,NaN,—,0,0
4,1192277943894126593,excite,RT @survivorcbs: Mark your calendars! The #Sur...,NaN,NaN,NaN,NaN,NaN,NaN,excite,0,1
5,1192277962483064833,excite,RT @writelikeryan: The tracklist is FIRE!\n\nS...,NaN,NaN,NaN,NaN,NaN,NaN,excite,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
1944,1173352434485383168,enhance,RT @ManneLess: @DrouinDa @schpierre J'ai entre...,NaN,NaN,NaN,NaN,enhance,NaN,NaN,0,0
1945,1173376151709990913,explain,RT @CanuckTraveler: @journo_dale @profamiratta...,NaN,NaN,NaN,NaN,explain,NaN,NaN,0,0
1946,1173413146620567552,—,RT @Gray_Mackenzie: Justin Trudeau is staying ...,NaN,NaN,NaN,NaN,—,NaN,NaN,0,0
1947,1173476072005996544,explain,RT @ishat_reza: Not all lies are reportable to...,NaN,NaN,NaN,NaN,explain,NaN,NaN,0,0
1948,1173485335948476417,enhance,RT @DaisyLou3691: I agree with your sentiments...,NaN,NaN,NaN,NaN,enhance,NaN,NaN,0,0

In [35]:
excite_col = ['tweet_text','excite']
dismay_col = ['tweet_text','dismay']

In [36]:

results.to_csv('excite.csv', columns = excite_col)
results.to_csv('dismay.csv', columns = dismay_col)

# 2 - Lightside

In [38]:
results[results['dismay']==1]

,tweet_id,final_code,tweet_text,code_S2,code_B1,code_K2,code_B2,code_K1,code_S1,code_Y,dismay,excite
9,1192277989519691776,"dismay, enhance",RT @JasonGIles5: What I hated about tonight's ...,NaN,NaN,NaN,NaN,NaN,NaN,"dismay, enhance",1,0
25,1192278190506610688,dismay,RT @chunkymark: Unfcknbelievable!!\nPeople on ...,NaN,NaN,NaN,NaN,NaN,NaN,dismay,1,0
34,1192278314452279296,"dismay, enhance",Unfortunately yes.,NaN,NaN,NaN,NaN,NaN,enhance,dismay,1,0
38,1192278357196578816,dismay,RT @EmperorBigD: What happened to that dude wh...,NaN,NaN,NaN,NaN,NaN,dismay,—,1,0
57,1192278686088732672,dismay,@WWENXT @RealKeithLee @LukeGallowsWWE I was ex...,NaN,NaN,NaN,NaN,NaN,dismay,dismiss,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1924,1172507710920843264,dismay,RT @GasPriceWizard: Even if you’ve owned your ...,NaN,NaN,NaN,NaN,dismay,NaN,NaN,1,0
1929,1172608818653650946,"dismiss, dismay","RT @MitzieHunter: ""Ontario’s deficit last year...",NaN,NaN,NaN,NaN,"dismiss, dismay",NaN,NaN,1,0
1933,1172742668876570624,"enhance, dismay",RT @jmwalsh1968: In all of my years in Canadia...,NaN,NaN,NaN,NaN,"enhance, dismay",NaN,NaN,1,0
1934,1172946299865329665,dismay,Ack!,NaN,NaN,NaN,NaN,dismay,NaN,NaN,1,0
1935,1172949288973942786,"enhance, dismay","RT @Billbrowder: Unbelievable! Cameron Ortis, ...",NaN,NaN,NaN,NaN,"enhance, dismay",NaN,NaN,1,0

In [33]:
results.head()

,tweet_id,final_code,tweet_text,code_S2,code_B1,code_K2,code_B2,code_K1,code_S1,code_Y,dismay,excite
0,1192277900650852354,engage,RT @LindsayinAfrica: Concerning #JohnCrist: a ...,NaN,NaN,NaN,NaN,NaN,NaN,engage,0,0
1,1192277907671900160,explain,RT @xoxosira: The i-land 7epจบ \n\nเอาคนกลุ่มน...,NaN,NaN,NaN,NaN,NaN,NaN,explain,0,0
2,1192277921391501313,—,RT @realityreacts: Noura and Karishma at the m...,NaN,NaN,NaN,NaN,NaN,NaN,—,0,0
3,1192277939792044032,excite,NXT IS MONEY EVERY WEEK AND SURVIVOR SERIES ST...,NaN,NaN,NaN,NaN,NaN,excite,excite,0,1
4,1192277943894126593,excite,RT @survivorcbs: Mark your calendars! The #Sur...,NaN,NaN,NaN,NaN,NaN,NaN,excite,0,1

In [11]:
results[results['final_code']=='—']

,tweet_id,final_code,tweet_text,code_S2,code_B1,code_K2,code_B2,code_K1,code_S1,code_Y
2,1192277921391501313,—,RT @realityreacts: Noura and Karishma at the m...,NaN,NaN,NaN,NaN,NaN,NaN,—
6,1192277967600340992,—,My wax lady informed me today that you’re not ...,NaN,NaN,NaN,NaN,NaN,engage,—
7,1192277971136110592,—,Good luck at survivor series the Man or whatev...,NaN,NaN,NaN,NaN,NaN,NaN,—
8,1192277983970680832,—,Managing schizophrenia alone can be hard....th...,NaN,NaN,NaN,NaN,NaN,NaN,—
12,1192278020570124288,—,#TheMaskedSinger #BLACKPINK #AEWCharlotte #AEW...,NaN,NaN,NaN,NaN,NaN,NaN,—
...,...,...,...,...,...,...,...,...,...,...
1911,1172127158199836679,—,RT @InformedOps: Do you want substantive #Elec...,NaN,NaN,NaN,NaN,—,NaN,NaN
1914,1172195132176650240,—,RT @darndifino: #DontBeConned!! #IStandWithTru...,NaN,NaN,NaN,NaN,—,NaN,NaN
1940,1173200102787342336,—,RT @queerthoughts: How ridiculous is this. CPC...,NaN,NaN,NaN,NaN,—,NaN,NaN
1942,1173319887248191488,—,@trevortombe @AGMacDougall @CPC_HQ @liberal_pa...,NaN,NaN,NaN,NaN,—,NaN,NaN
1946,1173413146620567552,—,RT @Gray_Mackenzie: Justin Trudeau is staying ...,NaN,NaN,NaN,NaN,—,NaN,NaN

In [5]:
results.head()

,tweet_id,final_code,tweet_text,code_S2,code_B1,code_K2,code_B2,code_K1,code_S1,code_Y
0,1192277900650852354,engage,RT @LindsayinAfrica: Concerning #JohnCrist: a ...,NaN,NaN,NaN,NaN,NaN,NaN,engage
1,1192277907671900160,explain,RT @xoxosira: The i-land 7epจบ \n\nเอาคนกลุ่มน...,NaN,NaN,NaN,NaN,NaN,NaN,explain
2,1192277921391501313,—,RT @realityreacts: Noura and Karishma at the m...,NaN,NaN,NaN,NaN,NaN,NaN,—
3,1192277939792044032,excite,NXT IS MONEY EVERY WEEK AND SURVIVOR SERIES ST...,NaN,NaN,NaN,NaN,NaN,excite,excite
4,1192277943894126593,excite,RT @survivorcbs: Mark your calendars! The #Sur...,NaN,NaN,NaN,NaN,NaN,NaN,excite

In [ ]:
results['final_code']